<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Protesto pacífico</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
    </head>
    <body ng-controller="MainCtrl">
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->        

    <div class="navbar navbar-custom navbar-fixed-top">
        <div class="navbar-header navbar-brand">Protestos na sua região</a></div>
        <form class="navbar-form">
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <input type="text" name="estados" list="estados" class="form-control">
                <datalist id="estados">
                    <option value="São Paulo"></option>
                    <option value="Rio de Janeiro"></option>
                    <option value="Acre"></option>
                    <option value="Alagoas"></option>
                    <option value="Amapá"></option>
                    <option value="Amazonas"></option>
                    <option value="Bahia"></option>
                    <option value="Ceará"></option>
                    <option value="Distrito Federal"></option>
                    <option value="Espirito Santo"></option>
                    <option value="Goiás"></option>
                    <option value="Maranhão"></option>
                    <option value="Mato Grosso"></option>
                    <option value="Mato Grosso do Sul"></option>
                    <option value="Minas Gerais"></option>
                    <option value="Pará"></option>
                    <option value="Paraiba"></option>
                    <option value="Paraná"></option>
                    <option value="Pernambuco"></option>
                    <option value="Piauí"></option>
                    <option value="Rio Grande do Norte"></option>
                    <option value="Rio Grande do Sul"></option>
                    <option value="Rondônia"></option>
                    <option value="Roraima"></option>
                    <option value="Santa Catarina"></option>
                    <option value="Sergipe"></option>
                    <option value="Tocantis"></option>                
                </datalist>
            </div>
            <div class="col-xs-10 col-sm-4 col-md-4 col-lg-6">
                <input type="text" class="form-control" ng-model="cidade" placeholder="Cidade">
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <button type="button" class="btn btn-info" ng-click="buscar()">Buscar</button>    
            </div>            
        </form>            
    </div>
    
    <div id="map-canvas"></div>
    <div class="container-fluid">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">    
            <h3>Manifestações ativas em votação</h3>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-repeat="item in manifestacoes">            
                <div class="panel panel-primary">
                  <div class="panel-heading">{{item.titulo}}</div>
                  <div class="panel-body">
                    <p>Data: {{item.dataHora}}</p>
                    <p>Ponto de encontro: {{item.pontoEncontro}}</p>
                    <p><em>{{item.tags}}</em></p>
                    <button type="button" class="btn btn-success btn-xs" ng-click="votar(item.id, 1)">
                        <span class="glyphicon glyphicon-thumbs-up"></span> A favor ({{item.afavor}})
                    </button>
                    <button type="button" class="btn btn-danger btn-xs" ng-click="votar(item.id, 0)">
                        <span class="glyphicon glyphicon-thumbs-down"></span> Contra ({{item.contra}})
                    </button>
                  </div>
                </div>            
            </div>            

            <h3>Organizar manifestação pacífica</h3>

            <div class="well" style="display: table; width: 100%;">
                <form class="form-horizontal" role="form">   
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">                                
                  <div class="form-group">
                    <label class="sr-only" for="titulo">Título</label>
                    <input type="text" class="form-control" ng-model="titulo" id="titulo" placeholder="Título">
                  </div>
                  <div class="form-group">
                    <label class="sr-only" for="datahora">Data e Hora</label>
                    <input type="text" class="form-control" ng-model="dataHora" id="datahora" placeholder="Data e hora">
                  </div>
                  <div class="form-group">
                    <label class="sr-only" for="pontoencontro">Ponto de encontro</label>
                    <input type="text" class="form-control" ng-model="pontoEncontro" id="pontoencontro" placeholder="Ponto de encontro">
                  </div>  
                  <div class="form-group">
                    <label class="sr-only" for="descricao">Descrição</label>
                    <textarea class="form-control" rows="4" ng-model="descricao" id="descricao">Descrição detalhada com objetivo, metas e propostas</textarea>
                  </div>   
                </div> 
                 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">            
                    <label>Causas defendidas</label>
                    <div class="checkbox">
                      <label><input type="checkbox" name="causas[]" ng-model="causas.moradia" value="moradia">Melhorias em moradia</label>                      
                    </div>    
                    <div class="checkbox">
                      <label><input type="checkbox" name="causas[]" ng-model="causas.copa" value="copa">Gastos com a copa</label>                      
                    </div> 
                    <div class="checkbox">
                      <label><input type="checkbox" name="causas[]" ng-model="causas.educacao" value="educacao">Investimento em educação</label>                      
                    </div>  
                    <div class="checkbox">
                      <label><input type="checkbox" name="causas[]" ng-model="causas.greve" value="greve">Reajuste de salário da categoria</label>                      
                    </div> 
                    <div class="checkbox">
                      <label><input type="checkbox" name="causas[]" ng-model="causas.pecs" value="pecs">Votação de PECs</label>                      
                    </div> 
                    <div class="checkbox">
                      <label><input type="checkbox" name="causas[]" ng-model="causas.transporte" value="transporte">Transporte público</label>                      
                    </div> 
                    <div class="checkbox">
                      <label><input type="checkbox" name="causas[]" ng-model="causas.preconceito" value="preconceito">Preconceito racial</label>                      
                    </div> 
                    <div class="checkbox">
                      <label><input type="checkbox" name="causas[]" ng-model="causas.outros" value="outros">Outros</label>                      
                    </div> 
                </div>  
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
                    <h4>Ajude a melhorar nosso país, através de manifestações pacíficas e objetivas</h4>
                    <br />
                    <p>Todas as manifestações criadas, serão avaliadas e, se aprovadas, publicadas para votação popular.</p>
                    <br />
                    <button type="button" class="btn btn-success" ng-click="cadastrar()">Enviar proposta!</button>                                     
                </div>                                                    
                </form>   
            </div> 
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">    
            <!--map-canvas will be postioned here-->
        </div>    
    </div>

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/jquery.js"></script> 
        <script src="bower_components/angular/angular.js"></script>      
        <!-- endbower -->
        <!-- endbuild -->

        <script type='text/javascript' src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&extension=.js&output=embed"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->

        <!-- build:js scripts/plugins.js -->        
        <script src="bower_components/sass-bootstrap/js/affix.js"></script>
        <script src="bower_components/sass-bootstrap/js/alert.js"></script>
        <script src="bower_components/sass-bootstrap/js/dropdown.js"></script>
        <script src="bower_components/sass-bootstrap/js/tooltip.js"></script>
        <script src="bower_components/sass-bootstrap/js/modal.js"></script>
        <script src="bower_components/sass-bootstrap/js/transition.js"></script>
        <script src="bower_components/sass-bootstrap/js/button.js"></script>
        <script src="bower_components/sass-bootstrap/js/popover.js"></script>
        <script src="bower_components/sass-bootstrap/js/carousel.js"></script>
        <script src="bower_components/sass-bootstrap/js/scrollspy.js"></script>
        <script src="bower_components/sass-bootstrap/js/collapse.js"></script>
        <script src="bower_components/sass-bootstrap/js/tab.js"></script>
        <!-- endbuild -->
</body>
</html>
